* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 50px auto;
  padding: 0 25px;
  background-color: lightcyan;
  border: 2px solid black;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  padding: 5px;
  margin-left: 5px;
}

#message {
  margin-top: 10px;
  padding: 5px;
}

.btn {
  padding: 5px 20px;
  margin-bottom: 20px;
}
.btn:hover {
  color: rgb(253, 250, 250);
  border-radius: 8px;
  background-color: rgb(248, 2, 2);
}
